body {
    font-family: 'Segoe UI', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 1vh;
    background-color: #666;
}
.chat-header {
    font-size: x-large;
    font-weight: bold;
    padding: 0.5em;
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 92vh;
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background-color: #fcfcfc;
}
.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2em;
    display: flex;
    flex-direction: column-reverse;
}
.bubble-head {
    font-weight: 600;
}
.bubble-foot {
    padding-left: 1.6em;
}
.bot {
    padding: 1em;
    border-radius: 1em;
    margin: 1em auto 1em -1em;
    background-color: rgb(252, 245, 245);
    min-width: 25%;
    width: fit-content;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.kunde {
    padding: 1em;
    border-radius: 1em;
    margin: 1em -1em 1em auto;
    background-color: rgb(242, 247, 250);
    min-width: 25%;
    width: fit-content;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.chat-input {
    display: flex;
    align-items: stretch;
}
.chat-input textarea {
    flex-grow: 1;
    border-radius: 1em;
    border: 1px solid #aaa;
    padding: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
.chat-input button {
    margin-left: 1em;
    padding: 0.8em 1.6em;
    border-radius: 1em;
    background-color: #004a99;
    color: white;
    border: 1px solid #aaa;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.chat-input button:hover {
    background-color: rgb(25, 101, 182);
}